version: 2
updates:
  - package-ecosystem: github-actions
    directory: /backend
    schedule:
      interval: weekly
    groups:
      github-actions:
        patterns:
          - "*"
    target-branch: main

  - package-ecosystem: pip
    directory: /backend
    schedule:
      interval: weekly
    groups:
      pip:
        patterns:
          - "*"
    target-branch: main

  - package-ecosystem: docker-compose
    directory: "/backend"
    schedule:
      interval: weekly
    groups:
      docker-compose:
        patterns:
          - "*"
    target-branch: main
