site_name: PixErase Documentation
site_description: Documentation for the CleverFaq.
site_author: Danil Kovalev
site_url: https://github.com/C3EQUALZz/clever-faq

theme:
  name: material
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy
    - navigation.sections
    - navigation.expand

repo_url: https://github.com/C3EQUALZz/clever-faq
repo_name: C3EQUALZz/clever-faq

nav:
  - Home: index.md

  - Contributing: contributing.md
  - License: license.md
